@font-face {
    font-family: 'Prata';
    src: url('subset-Prata-Regular.woff2') format('woff2'),
        url('subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {  
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #f9fcfc;
  box-sizing: border-box;
}

* {
   box-sizing: inherit;
  }

 h2 {
  font-family: Prata, serif;
  font-size: 30px;
  line-height: 30px;
  color: #021a23;
  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
  padding: 12px 10px 10px 11px;
  margin-bottom: 12px;
  margin-right: 60px;
}

h3 {
  font-size: 18px;
  padding-top: 31px;
  padding-left: 11px;
  padding-bottom: 1.2px;
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
}

.promo__desktop-only {
  display: none;
}

.promo__form {
  display: none;
}

.promo {
  background-image: url(../image/bg_main1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.row {
  display: block;
  /*position: relative;*/
  margin-bottom: 32px;
}

.header {
  display: flex;
}

.header__logo {
  position: relative;
  font-family: Prata, serif;
  font-size: 30px;
  color: #eec643;
  padding-top: 18.8px;
  margin-bottom: 90px;
  margin-left: 17px;
}

.header__menu {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 17px;
  width: 22px;
  height: 24px;
  padding: 0;
  border: none;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  line-height: 30;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.header__menu-btn {
  width: 2px;
  height: 24px;
  margin-left: 8px;
  background: #fff;
  margin-right: 8px;
}

.header__nav {
  display: none;  
}

.header__nav.open {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #000;
}

.header__nav-item {
  display: block;
  text-transform: uppercase;
}

.form {
  font-size: 16px;
}

.card {
  background-size: cover;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.promo__mobile-only-title {
  font-family: Prata, serif;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 13.6px;
  margin-left: 17px;  
}

.promo__mobile-only-subtitle {
  line-height: 22px;
  margin-bottom: 90px;
  margin-right: 69px;
  margin-left: 17px;
}

.promo__mobile-only-btn {
  display: block;
  margin-bottom: 32px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #eec643;
  box-shadow: none;
  color: #f9fcfc;
  text-transform: uppercase;
  border: none;
}

.desktop-only {
  display: none;
}

/*.col-3 {
  display: none;
}*/

.grow__vocals {
  background-image: url(../image/vocals.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow__vocals-subtitle,
.grow__quitar-subtitle,
.pace__composition-subtitle,
.pace__result-subtitle,
.mobile-only {
  font-size: 16px;
  margin: 0;
  padding: 0 89px 58px 11px;
}

.grow__quitar {
  background-image: url(../image/quitar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.piano {
  /*display: flex;*/
  /*width: 100%;*/
  /*justify-content: space-between;*/
  /*font-size: 0; */
}

.grow__piano {
  max-width: 100%;
  margin-right: 76px;
  background-image: url(../image/piano.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

.row__piano {
  width: 100%;
}

.grow__piano-subtitle,
.pace__studio-subtitle {
  margin: 0;
  padding: 0 0px 56.2px 11px;
}

.grow__all-button,
.pace__lesson-button {
  width: 147px;
  height: 60px;
  position: absolute  ;
  font-size: 16px; 
  font-family: 'PT Sans', sans-serif;
  color: #213127;
  transform: rotate(-90deg);
  background-color: #eec643;
  bottom: 147px;
  right: 20px;
  border: none;
  transform-origin: bottom right;
  text-align: left;
  text-decoration: none;
  padding-left: 15px;   
}

.form,
.pace__lesson {
  display: none;
} 

.grow__lecture {
  display: none;
}

.pace__composition {
  background-image: url(../image/composition.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__result {
  background-image: url(../image/result.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;  
}

.pace__studio {
  max-width: 100%;
  margin-right: 76px;
  font-size: 16px;  
  background-image: url(../image/studio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 144px;  
}



.school__video {
  width: 75%;
  background-image: url(../image/video_card_img_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.school__video-subtitle {
  padding-left: 11px;
  margin: 0;
}

.school__video-text {
  padding-top: 140px;
  padding-bottom: 17px;

}

.play {
  position: absolute;
  right: 0;
  top: 90px;
  margin: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.5px 0 17.5px 28px;
  border-color: transparent transparent transparent #eec643;
}

.container__video {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-before {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}

.school__video {
  background-image: url(../image/video_card_img_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-after {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-right: 1px solid #eec643;
  border-top: 1px solid #eec643;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__address {
  color: #000;
  margin-bottom: 11px;
}

.contact__tel-link {
  text-decoration: none;
  color: #000;
}

.contact__tel {
   margin-bottom: 17px;
}

.map {
  margin-bottom: 16px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1280px) {

  .container {
    margin: 0 auto;
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-only,
  .header__menu,
  .promo__mobile-only-btn,
  .promo__mobile-only {
  display: none;
}

  .row,
  .row__piano {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .header {
    display: flex;
  }

.header__logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 144.6px;
  margin-top: 15px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  font-size: 16px;
  color: #021a23;
  margin-top: 50px;
  margin-bottom: 20px;
}

.header__nav-item {
  margin-left: 30px;
}

 .promo__form {
    display: block;
 }

.promo {
  background-image: url(../image/bg_main1280.png);
  background-repeat: no-repeat;
  background-size: cover; 
  margin-bottom: 20px; 
 }

 .promo__desktop-only {
  display: block;
  padding-top: 106px;
 }

.promo__desktop-only-title {
  font-family: Prata, serif;
  font-size: 55px;
  line-height: 55px;
  color: #f9fcfc;
  margin-bottom: 13.6px;
  margin-left: 17px;
}

.promo__desktop-only-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding-right: 150px;
  margin-bottom: 297px;
}

.promo__btn {
  display: none;
}

.promo__info {
  width: 850px;
  margin-right: 50px;
}

.promo__form {
  display: block;
  width: 270px;
  height: 420px;
  border-width: 2px;
  border-color: #021a23;
  border-style: solid;
  background-color: #fbf6e4;
  position: relative;
  box-sizing: border-box; 
}

.promo__form-title {
  font-size: 30px;
  font-family: "PT Sans", serif;
  line-height: 40px;
  color: #021a23;
  border: none;
  padding-left: 29px;
  margin: 0 auto;
}

.promo__form-subtitle {
  font-size: 20px;
  font-family: "PT Sans", serif;
  color: #021a23;
  line-height: 28px;
  padding-left: 29px;
}

.promo__form-btn {
  font-size: 20px;
  height: 70px;
  width: 268px;
  border: none;
  background-color: #021a23;
  color: white;
  padding: 0;
  margin-bottom: 146px;
}

.promo__form-input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 86.5%;
}

.promo__form-select {
  width: 86.5%;
  color: #596063;
  margin-bottom: 90px;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin-bottom: 30px;

}

.col-1 {
  width: 8.33%; 
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;  
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 8.33%; 
}

.grow__desktop-only {
  position: absolute;
  top: 100px;
  right: 1100px;
  transform: rotate(-90deg);
}

.grow__vocals {
  order: 2;
  height: 100%;
}

.grow__quitar {
  margin-left: 30px;
  margin-right: 30px;
}

.grow__vocals-subtitle,
.desktop-only {

}

.grow__quitar-subtitle,
.desktop-only {
  font-size: 16px;
}

.promo__form {
  display: block;
  width: 270px;
}

.grow__all-button,
.pace__lesson-button {
  position: static;
  left: initial;
  top: initial;
  right: initial;
  width: initial;
  height: initial;
  display: flex;
  transform: none;
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: none;
}

.card {
  height: 270px;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__title {
  position: absolute;
  left: 0;
  top: 0; 
}

.grow__lecture {
  background-image: url(../image/lecture.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.grow__lecture-subtitle {
  font-size: 16px;
  margin: 0;
  padding: 0 89px 58px 11px;
}

.pace__composition,
.pace__result,
.pace__studio,
.pace__lesson {
  height: 570px;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__composition,
.pace__result {
  margin-top: 70px;
  height: 500px;
}

.mobile-only {
  display: none;
}
}
  

