@font-face {
    font-family: 'Prata';
    src: url('subset-Prata-Regular.woff2') format('woff2'),
        url('subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {  
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #f9fcfc;
  box-sizing: border-box;
}

* {
   box-sizing: inherit;
  }

 h2 {
  font-family: Prata, serif;
  font-size: 30px;
  line-height: 30px;
  color: #021a23;
  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
  padding: 12px 10px 10px 11px;
  margin-bottom: 12px;
  margin-right: 60px;
}

h3 {
  font-size: 18px;
  padding-top: 31px;
  padding-left: 11px;
  padding-bottom: 1.2px;
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

.promo__desktop-only,
.grow__piano-desktop-only,
.piano-subtitle,
.quitar-subtitle,
.grow__quitar-price,
.vocals-subtitle,
.video-subtitle,
.contact__form,
.composition-subtitle,
.result-subtitle,
.studio-subtitle,
.play__min,
.video-desk,
.social {
  display: none;
}

.promo__form {
  display: none;
}

.promo {
  background-image: url(../image/bg_main1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.row {
  display: block;
  margin-bottom: 32px;
}

.header {
  display: flex;
}

.header__logo {
  position: relative;
  font-family: Prata, serif;
  font-size: 30px;
  color: #eec643;
  padding-top: 18.8px;
  margin-bottom: 90px;
  margin-left: 17px;
}

.header__menu {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 17px;
  width: 22px;
  height: 24px;
  padding: 0;
  border: none;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  line-height: 30;
  background: transparent;
  cursor: pointer;
  margin: 0 auto;
}

.header__menu-btn {
  width: 2px;
  height: 24px;
  margin-left: 8px;
  background: #fff;
  margin-right: 8px;
}

.header__nav {
  display: none;  
}

.header__nav.open {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #000;
}

.header__nav-item {
  display: block;
  text-transform: uppercase;
}

.form {
  font-size: 16px;
}

.card {
  background-size: cover;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.promo__mobile-only-title {
  font-family: Prata, serif;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 13.6px;
  margin-left: 17px;  
}

.promo__mobile-only-subtitle {
  line-height: 22px;
  margin-bottom: 90px;
  margin-right: 69px;
  margin-left: 17px;
}

.promo__mobile-only-btn {
  display: block;
  margin-bottom: 32px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #eec643;
  box-shadow: none;
  color: #f9fcfc;
  text-transform: uppercase;
  border: none;
}

.desktop-only,
.grow__piano-desktop.
.piano-subtitle {
  display: none;
}

.grow__vocals {
  background-image: url(../image/vocals.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow__vocals-subtitle,
.grow__quitar-subtitle,
.pace__composition-subtitle,
.pace__result-subtitle,
.mobile-only {
  font-size: 16px;
  margin: 0;
  padding: 0 89px 58px 11px;
}

.grow__quitar {
  background-image: url(../image/quitar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow__piano {
  max-width: 100%;
  margin-right: 76px;
  background-image: url(../image/piano.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

.grow__lecture {
  display: none;
}

.row__piano-mobile {
  width: 100%;
}

.grow__piano-subtitle,
.pace__studio-subtitle {
  margin: 0;
  padding: 0 0px 56.2px 11px;
}

.grow__all-button,
.pace__lesson-button {
  width: 147px;
  height: 60px;
  position: absolute  ;
  font-size: 16px; 
  font-family: 'PT Sans', sans-serif;
  color: #213127;
  transform: rotate(-90deg);
  background-color: #eec643;
  bottom: 147px;
  right: 20px;
  border: none;
  transform-origin: bottom right;
  text-align: left;
  text-decoration: none;
  padding-left: 15px;   
}

.form,
.pace__lesson,
.pace__form {
  display: none;
} 

.grow__lecture {
  display: none;
}

.pace__composition {
  background-image: url(../image/composition.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__result {
  background-image: url(../image/result.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;  
}

.pace__studio {
  max-width: 100%;
  margin-right: 76px;
  font-size: 16px;  
  background-image: url(../image/studio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 144px;  
}



.school__video {
  width: 75%;
  background-image: url(../image/video_card_img_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.school__video-subtitle {
  padding-left: 11px;
  margin: 0;
}

.school__video-text {
  padding-top: 140px;
  padding-bottom: 17px;

}

.play {
  position: absolute;
  right: 0;
  top: 90px;
  margin: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.5px 0 17.5px 28px;
  border-color: transparent transparent transparent #eec643;
}

.container__video {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-before {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}

.school__video {
  background-image: url(../image/video_card_img_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-after {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-right: 1px solid #eec643;
  border-top: 1px solid #eec643;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__address {
  color: #000;
  margin-bottom: 11px;
}

.contact__tel-link {
  text-decoration: none;
  color: #000;
}

.contact__tel {
   margin-bottom: 17px;
}

.map {
  margin-bottom: 16px;
  max-width: 100%;
  height: 216px;
}

@media (min-width: 1280px) {

  .container,
  .container-desk {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-only,
  .header__menu,
  .promo__mobile-only-btn,
  .promo__mobile-only,
  .grow__piano-subtitle,
  .row__piano,
  .arrow-before,
  .arrow-after,
  .school__video-subtitle,
  .promo__mobile-only-btn,
  .pace__composition-subtitle,
  .pace__result-subtitle,
  .pace__studio-subtitle {
    display: none;
}

  .row,
  .row__piano {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .header {
    display: flex;
  }

  .header__logo {
    display: inline-block;
    margin: 0;
    margin-bottom: 144.6px;
    margin-top: 15px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  font-size: 16px;
  color: #021a23;
  margin-top: 50px;
  margin-bottom: 20px;
}

.header__nav-item {
  margin-left: 30px;
}

 .promo__form {
    display: block;
 }

.promo {
  background-image: url(../image/bg_main1280.png);
  background-repeat: no-repeat;
  background-size: cover; 
  margin-bottom: 90px; 
 }

 .promo__desktop-only {
  display: block;
  padding-top: 106px;
 }

.promo__desktop-only-title {
  font-family: Prata, serif;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  color: #f9fcfc;

 }

.promo__desktop-only-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding-right: 150px;
  margin-bottom: 297px;
}

.promo__btn {
  display: none;
}

.promo__info {
  width: 850px;
  margin-right: 50px;
}

.promo__form {
  display: block;
  width: 270px;
  height: 420px;
  border-width: 2px;
  border-color: #021a23;
  border-style: solid;
  background-color: #fbf6e4;
  position: relative;
  box-sizing: border-box; 
}

.promo__form-title {
  font-size: 30px;
  font-family: "PT Sans", serif;
  line-height: 40px;
  color: #021a23;
  border: none;
  padding-left: 29px;
  margin: 0 auto;
}

.promo__form-subtitle {
  font-size: 20px;
  font-family: "PT Sans", serif;
  color: #021a23;
  line-height: 28px;
  padding-left: 29px;
}

.promo__form-btn {
  font-size: 20px;
  height: 70px;
  width: 268px;
  border: none;
  background-color: #021a23;
  color: white;
  padding: 0;
  margin-bottom: 146px;
}

.promo__form-input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 86.5%;
}

.promo__form-select {
  width: 86.5%;
  color: #596063;
  margin-bottom: 90px;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin-bottom: 30px;
  /*padding-left: 15px;*/
  /*margin-right: 30px;*/

}

.col-1 {
  width: 8.33%; 
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;  
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 8.33%; 
}

.grow__desktop-only {
  position: absolute;
  top: 210px;
  /*right: 900px;*/
  font-family: Prata, serif;
  font-size: 50px;
  line-height: 50px;
  transform: rotate(-90deg);
  width: 570px;
  height: 70px;
  left: -249px;
}

.grow__vocals {
  position: absolute;
  background-image: url(../image/vocals1280.png);
  height: 270px;
  width: 568px;
}

.vocals-subtitle {
  padding-right: 255px;

}

.grow__vocals-title,
.grow__quitar-title,
.grow__piano-title,
.grow__lecture-title {
  font-size: 30px;
  padding-top: 34px;
  padding-left: 30px;  
}

.piano-subtitle,
.quitar-subtitle,
.grow__quitar-price,
.vocals-subtitle,
.grow__lecture-subtitle {
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding-left: 30px;
}

.grow__piano {
  position: absolute;
  background-image: url(../image/piano1280.png);
  height: 270px;
  width: 468px;
  right: 525px;
  top: 300px;

}

.grow__quitar {
  position: absolute;
  background-image: url(../image/quitar1280.png);
  height: 270px;
  width: 468px;
  top: 0;
  right: 600px;
}

.grow__quitar-title {
  padding-top: 24px;
  margin-bottom: 30px;
}

.grow__quitar-subtitle {
  display: none;
}

.quitar-subtitle {
  display: block;
  padding-left: 30px;
  padding-right: 196px;
  padding-bottom: 20px;
  margin: 0;
}

.grow__quitar-price {
  display: block;
  padding-left: 30px;
}

.grow__piano-subtitle {
  display: none;
}

.piano-subtitle {
  margin: 0;
  padding: 0 0px 56.2px 11px;
}


.grow__quitar-subtitle,
.grow__piano-desktop-only,
.desktop-only {
  font-size: 16px;
}

.grow__piano-title {
  margin-bottom: 24px;
}

.piano-subtitle {
  display: block;
  padding-right: 200px;
  padding-left: 30px;
}

.grow__piano-desktop {
  height: 270px;
   background-image: url(../image/piano1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow__lecture {
  position: absolute;
  display: block;
  top: 300px;
  left: 600px;
  height: 270px;
  width: 270px;
  background-image: url(../image/lecture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-right: 30px;*/
}

.grow__all-button {
  position: absolute;
  width: 270px;
  height: 270px;
  border: 0;
  box-shadow: none;
  margin-top: 300px;
  padding-left: 30px;
  padding-top: 28px;
  margin-left: 22px;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}

.promo__form {
  display: block;
  width: 270px;
}

.grow__all-button {
    position: static;
    left: initial;
    top: initial;
    right: initial;
    width: initial;
    height: initial;
    display: flex;
    transform: none;
    width: 270px;
    height: 270px;
    border: 0;
    box-shadow: none;
    order: 3;
}

.pace__title {
  position: absolute;
  height: 70px;
  width: 570px;
  font-size: 50px;
  line-height: 50px;
  margin-top: 30px;
  left: 0;
  top: 0; 
}

.pace__composition-title,
.pace__result-title,
.pace__studio-title {
  font-size: 30px;
  line-height: 40px;
  padding-left: 30px;
}

.composition-subtitle,
.result-subtitle,
.studio-subtitle {
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding-left: 30px;
}


.pace__composition,
.pace__result  {
  position: absolute;
  width: 270px;
  height: 470px;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__studio,
.pace__lesson {
  position: absolute;
  width: 270px;
  height: 570px;
  background-size: cover;
  margin-bottom: 30px;
}

.pace__composition {
  background-image: url(../image/composition1280.png);
  background-position: center;
  background-size: cover;
  left: 0;
  top: 131px;
}

.pace__result {
  background-image: url(../image/result1280.png);
  background-position: center;
  background-size: cover;
  left: 300px;
  top: 131px;
}

.pace__studio {
  background-image: url(../image/studio1280.png);
  background-position: center;
  background-size: cover;
  left: 600px;
  top: 30px;
}

.pace__lesson-button {
  display: none;
}

.pace__form {
  /*position: absolute;*/
  display: block;
  width: 270px;
  height: 570px;
  margin-top: 30px;
  border: 2px solid #eec643;
  top: 120px;
  right: 0; 
}

.pace__form-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  padding: 32px 0 0 30px;
  margin-bottom: 24px;
  color: #eec643;
  border: none;
  margin-right: 0;
  margin-top: 0;
}

.pace__form-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 210px;
}

.pace__form-input {
  border-bottom: 2px solid #eec643;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 30px;
  font-size: 20px;
  line-height: 28px;
  width: 210px;
  padding-bottom: 10px;
}

.pace__form-select {
  margin-bottom: 28px;
  padding-left: 0;
  color: #7a8082;
}

.pace__form-btn {
  background-color: #eec643;
  color: #fff;
  font-size: 20px;
  width: 270px;
  height: 70px;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
}

.school__tittle {
  position: absolute;
  top: 300px;
  font-family: Prata, serif;
  font-size: 50px;
  line-height: 50px;
  transform: rotate(-90deg);
  width: 570px;
  height: 70px;
  left: -249px;

}

.school__video {
  background-image: url(../image/video_card_img_1280.png);
  background-position: center;
  background-size: cover;
  width: 770px;
  height: 568px;
  top: 90px;
  left: -100px;
}

.school__video-text {
  padding-left: 31px;
  padding-top: 28px;
}

.school__video-title {
  font-size: 30px;
  line-height: 40px;
  padding: 0;

}

.video-subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  padding-right: 470px;
}

.play {

}

.school__video-mini1 {
  position: absolute;
  background-image: url(../image/video_card_img_yang.png);
  background-position: center;
  background-size: cover;
  width: 268px;
  height: 169px;
  right: 0;
  top: 90px;
}

.school__video-mini2 {
  position: absolute;
  background-image: url(../image/video_card_img_summer.png);
  background-position: center;
  background-size: cover;
  width: 268px;
  height: 169px;
  right: 0;
  top: 289px;
}

.school__video-mini3 {
  position: absolute;
  background-image: url(../image/video_card_img_trofimov.png);
  background-position: center;
  background-size: cover;
  width: 268px;
  height: 169px;
  right: 0;
  top: 488px;
}

.contact__title {
  position: absolute;
  height: 70px;
  width: 570px;
  font-size: 50px;
  line-height: 50px;
  margin-top: 30px;
  left: 0;
  top: 120px ;
}

.contact__address {
  position: absolute;
  top: 180px;
  right: 370px;
  font-size: 20px;
  line-height: 28px;
}

.contact__tel {
  position: absolute;
  top: 170px;
  right: 405px;
  font-size: 20px;
  line-height: 28px;
}

.map {
  position: absolute;
  width: 870px;
  height: 468px;
  top: 250px;
  left: 0;
}

.contact__form {
  position: absolute;
  display: block;
  width: 270px;
  height: 570px;
  margin-top: 30px;
  border: 2px solid #eec643;
  top: 120px;
  right: 0;
}

.contact__form-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  padding: 32px 0 0 30px;
  margin-bottom: 24px;
  color: #eec643;
  border: none;
  margin-right: 0;
  margin-top: 0;
}

.contact__form-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 210px;
}

.contact__form-input {
  border-bottom: 2px solid #eec643;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 30px;
  font-size: 20px;
  line-height: 28px;
  width: 210px;
  padding-bottom: 10px;
    
}

.contact__form-select {
  margin-bottom: 28px;
  padding-left: 0;
  color: #7a8082;  
}

.contact__form-btn {
  background-color: #eec643;
  color: #fff;
  font-size: 20px;
  width: 270px;
  height: 70px;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase; 
}

.video-desk {
  display: block;
}

.play {
  width: 0;
  height: 0;
  top: 250px;
  border-style: solid;
  border-width: 35px 0 35px 55px;
  border-color: transparent transparent transparent #eec643;
}

.yang,
.summer,
.trofimov {
 font-size: 14px;
 margin-left: 15px;
}

.yang__title,
.summer__title,
.trofimov__title {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 10px;
  padding-top: 105px;
}

.play__min {
  display: block;
  position: absolute;
  top: 60px;
  left: 115px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 33px;
  border-color: transparent transparent transparent #eec643;
}

.social {
  display: block;
  position: absolute;
  margin-top: 806px;
  margin-bottom: 54px;
  left: 832px;
}

.social-youtube,
.social-instagram,
.social-facebook,
.social-vkontakte {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 46px;
}

.mobile-only {
  display: none;
}
}
  

  